* {
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #1e1e1e;
    overflow: hidden;
}

@font-face {
    font-family: 'Silkscreen', sans-serif;
    src: url(fonts/slkscr.ttf);
}